<!DOCTYPE html>
<html>
  <head>
    <title>UselessTalk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <header>
      <ul>
        <li><%= link_to 'Twitter', root_path %></li>
        <li><%= link_to 'つぶやきを投稿', new_post_path %></li>
        <li><%= link_to 'つぶやき一覧', posts_path %></li>
      </ul>
    </header>
  <body>
    <%= yield %>
  </body>
    <footer>
    <p>運営会社 株式会社つぶやき</p>
    <p>© 2021- Tubuyaki Corp.</p>
  </footer>
</html>
